/* ==UserStyle==
@name         Google Dark
@description  Google Dark
@namespace    xtevenx
@author       xtevenx
@version      0.0.1
@preprocessor default
==/UserStyle== */

:root {
    --fg-color: #c6c6c6;
    --bg-color: #1c1c1c;
    --bg-color2: #303030;
    --hl-color: #585858;
    --hl-color2: #808080;

    --blue: #5fafd7;
}


@-moz-document regexp("https://www\\.google\\.(ca|com)/"),
regexp("https://www\\.google\\.(ca|com)/search\\?.*") {
    /* general configurations */
    body {
        background: var(--bg-color) !important;
        color: var(--fg-color) !important;
    }

    a {
        color: var(--blue) !important;
    }


    /* search bar configurations */
    .RNNXgb {
        background: var(--bg-color2) !important;
        border: 1px solid var(--bg-color2) !important;
    }

    .RNNXgb:hover, .sbfc .RNNXgb, .sbfc .UUbT9 .aajZCb {
        box-shadow: 0 1px 6px 0 var(--hl-color) !important;
    }

    .gLFyf {
        color: var(--fg-color) !important;
    }

    /* dropdown menu configurations */
    .aajZCb {
        background: var(--bg-color2) !important;
    }

    .sbl1 {
        color: var(--fg-color) !important;
    }

    .sbhl {
        background: var(--hl-color) !important;
    }

    .xtSCL {
        border-top: 1px solid var(--hl-color) !important;
    }

    .tfB0Bf input[type="submit"], .gbqfba {
        background: var(--bg-color2) !important;
        border: 1px solid var(--hl-color) !important;
        color: var(--fg-color) !important;
    }

    .tfB0Bf input[type="submit"]:hover, .gbqfba:hover {
        background: var(--hl-color) !important;
        border: 1px solid var(--hl-color) !important;
        color: var(--fg-color) !important;
    }

    a.duf3 {
        color: var(--hl-color) !important;
    }

    /* profile dropdown cofigurations */
    .gb_F {
        background: var(--bg-color2) !important;
    }

    .gb_l .gb_nb {
        background: var(--bg-color2) !important;
    }

    .gb_ob {
        background: var(--bg-color2) !important;
    }

    .gb_ob > svg.gb_pb, .gb_Bb > svg.gb_Cb, .gb_Db > svg.gb_Eb {
        color: var(--fg-color) !important;
    }

    .gb_l .gb_qb {
        color: var(--fg-color) !important;
    }

    .gb_l .gb_sb {
        color: var(--hl-color) !important;
    }

    .gb_wb.gb_wb {
        background: var(--bg-color2) !important;
        border: 1px solid var(--hl-color) !important;
        color: var(--fg-color) !important;
    }

    .gb_wb.gb_wb:hover {
        background: var(--hl-color) !important;
    }

    .gb_Nb {
        border-top: 1px solid var(--hl-color) !important;
    }

    .gb_Ab.gb_Ab {
        background: var(--bg-color2) !important;
        color: var(--fg-color) !important;
    }

    .gb_Ab.gb_Ab:hover {
        background: var(--hl-color) !important;
    }

    .gb_Hb {
        border-top: 1px solid var(--hl-color) !important;
        border-bottom: 1px solid var(--hl-color) !important;
    }

    .gb_Ib.gb_Ib {
        background: var(--bg-color2) !important;
        border: 1px solid var(--hl-color) !important;
        color: var(--fg-color) !important;
    }

    .gb_Ib.gb_Ib:hover {
        background: var(--hl-color) !important;
    }

    .gb_yb.gb_yb {
        color: var(--fg-color) !important;
    }

    .gb_yb.gb_yb:hover {
        background: var(--hl-color) !important;
    }

    /* footer configurations */
    .f6F9Be {
        background: var(--bg-color) !important;
        border-top: 1px solid var(--hl-color) !important;
    }

    .b2hzT {
        border-bottom: 1px solid var(--hl-color) !important;
    }

    .b0KoTc {
        color: var(--fg-color) !important;
    }

    #footer a {
        color: var(--fg-color) !important;
    }
}


@-moz-document regexp("https://www\\.google\\.(ca|com)/") {
    /* header link configurations */
    #hptl a {
        color: var(--fg-color) !important;
    }

    #gb#gb a.gb_g {
        color: var(--fg-color) !important;
    }

    .gb_C .gb_D {
        background-position: -463px -36px !important;
    }
}


@-moz-document regexp("https://www\\.google\\.(ca|com)/search\\?.*") {
    /* header background configurations */
    .sfbg, #hdtbSum, #appbar {
        background: var(--bg-color) !important;
    }

    #hdtb {
        border-bottom: 1px solid var(--hl-color) !important;
    }

    /* header link configurations */
    .gb_ta svg {
        color: var(--fg-color) !important;
    }

    .gb_D[aria-expanded="true"] .gb_7e {
        fill: var(--hl-color2) !important;
    }

    #hdtb .hdtb-mitem a {
        color: var(--fg-color) !important;
    }

    #hdtb-msb #hdtb-tls {
        color: var(--fg-color) !important;
    }

    /* header dropdown configurations */
    .cF4V5c {
        background: var(--bg-color2) !important;
    }

    a.f9UGee {
        color: var(--fg-color) !important;
    }

    .f9UGee:hover {
        background: var(--hl-color) !important;
    }

    #hdtb-msb .hdtb-tl-sel, #hdtb-tls:hover {
        background: var(--hl-color) !important;
        border: 1px solid var(--hl-color) !important;
    }

    /* header tools configurations */
    .hdtb-mn-o, li a {
        background: var(--bg-color2) !important;
        color: var(--fg-color) !important;
    }

    .hdtbItm {
        background: var(--hl-color) !important;
        color: var(--fg-color) !important;
    }

    #cdrlnk {
        background: var(--bg-color2) !important;
        color: var(--fg-color) !important;
    }

    li a:hover, #cdrlnk:hover {
        background: var(--hl-color) !important;
    }
    
    /* most <about person/thing> configurations */
    .kno-ecr-pt {
        color: var(--fg-color) !important;
    }
    
    .z1asCe svg {
        color: var(--fg-color) !important;
    }
    
    .SzZmKb + div {
        border-bottom: 1px solid var(--hl-color) !important;
    }
    
    .hb8SAc {
        color: var(--fg-color) !important;
    }
    
    .SW5pqf {
        color: var(--blue) !important;
    }
    
    .Ss2Faf {
        color: var(--fg-color) !important;
    }
    
    .H73aad {
        background: var(--bg-color2) !important;
        border: 1px solid var(--hl-color) !important;
    }
    
    .H73aad:hover {
        background: var(--hl-color) !important;
    }
    
    .jleFbf {
        color: var(--fg-color) !important;
    }

    /* most "See results about" configurations */
    .garHBe {
        color: var(--fg-color) !important;
    }

    .y8Jpof:hover {
        background: var(--hl-color) !important;
    }

    .xXEKkb {
        color: var(--blue) !important;
    }

    .cwUqwd {
        color: var(--fg-color) !important;
    }

    /* most <embeded YouTube video> configurations */
    .I6TXqe {
        border: 1px solid var(--hl-color) !important;
    }

    .iUh30 {
        color: var(--fg-color) !important;
    }

    .eipWBe {
        color: var(--hl-color2) !important;
    }

    .GHuRVb {
        border-bottom: 1px solid var(--hl-color) !important;
    }

    .w8qArf .fl {
        color: var(--fg-color) !important;
    }

    .Ss2Faf a {
        color: var(--fg-color) !important;
    }

    .xlBGCb {
        color: var(--hl-color2) !important;
    }

    /* most "People also ask" configurations */
    .kp-blk {
        border: 1px solid var(--hl-color) !important;
    }

    .cbphWd {
        border-top: 1px solid var(--hl-color) !important;
    }

    .JolIg {
        color: var(--fg-color) !important;
    }

    .vp45yf {
        color: var(--fg-color) !important;
    }

    .Z0LcW {
        color: var(--fg-color) !important;
    }

    .webanswers-webanswers_table__webanswers-table th {
        color: var(--fg-color) !important;
    }

    /* most "Images" configurations */
    .WGYX8 {
        background: var(--bg-color2) !important;
        border: 1px solid var(--hl-color) !important;
        color: var(--fg-color) !important;
    }

    .WGYX8:hover {
        background: var(--hl-color) !important;
    }

    #isr_chc g-left-button {
        background: linear-gradient(90deg, var(--bg-color) 10%, rgba(255, 255, 255, 0)) !important;
    }

    #isr_chc g-right-button {
        background: linear-gradient(270deg, var(--bg-color) 10%, rgba(255, 255, 255, 0)) !important;
    }

    .EZRelc, .wUrVib {
        color: var(--blue) !important;
    }

    .gl a:link {
        color: var(--fg-color) !important;
    }

    /* most "Videos" configurations */
    .cv2VAd {
        background: var(--bg-color2) !important;
        border: 1px solid var(--bg-color2) !important;
    }

    .zECGdd {
        color: var(--hl-color2) !important;
    }

    .cJzOGc {
        color: var(--fg-color) !important;
    }

    .CNf3nf {
        border: 1px solid var(--bg-color2) !important;
    }

    .BlOseb.eSq3C g-fab, .k2Oeod.eSq3C g-fab {
        background-color: var(--bg-color2) !important;
        color: var(--fg-color) !important;

        box-shadow: 0 1px 6px 0 var(--hl-color) !important;
    }

    .BlOseb.eSq3C g-fab:hover, .k2Oeod.eSq3C g-fab:hover {
        color: var(--hl-color2) !important;
    }

    /* most <general search result> configurations */
    .st {
        color: var(--fg-color) !important;
    }

    .aCOpRe em, .s .st em, .st.s.std em {
        color: var(--fg-color) !important;
    }

    .AUiS2 {
        border: 1px solid var(--hl-color) !important;
    }

    .eJ7tvc {
        color: var(--fg-color) !important;
    }

    .XCKyNd { /* the first occurrence of 'c6c6c6' in the `url` string is the color of the image */
        background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%2048%2048%22%20fill%3D%22%23c6c6c6%22%3E%0D%0A%20%20%20%20%3Cpath%20d%3D%22M38%2012.83L35.17%2010%2024%2021.17%2012.83%2010%2010%2012.83%2021.17%2024%2010%2035.17%2012.83%2038%2024%2026.83%2035.17%2038%2038%2035.17%2026.83%2024z%22%2F%3E%0D%0A%20%20%20%20%3Cpath%20d%3D%22M0%200h48v48H0z%22%20fill%3D%22none%22%2F%3E%0D%0A%3C%2Fsvg%3E%0D%0A) !important;
    }

    .GHDvEf, .GHDvEf:hover, .GHDvEf.selected, .GHDvEf.selected:hover {
        background: var(--bg-color2) !important;
    }

    .action-menu-panel {
        background: var(--bg-color2) !important;
    }

    /* extra footer configurations */
    #brs .med {
        color: var(--fg-color) !important;
    }

    .YyVfkd {
        color: var(--fg-color) !important;
    }

    #Wprf1b {
        color: var(--fg-color) !important;
    }

    .smiUbb {
        color: var(--fg-color) !important;
    }

    #swml a {
        color: var(--fg-color) !important;
    }

    .fbar a {
        color: var(--fg-color) !important;
    }
}
