:root {
  --navbar-height: 36px;
  --navbar-width: 360px;
}

/* Merge the titlebar and navbar into one line. */

#navigator-toolbox {
  flex-direction: row-reverse;
}

#titlebar,
#nav-bar {
  background-color: transparent !important;
  height: var(--navbar-height);
}

#nav-bar {
  width: var(--navbar-width);
}

#titlebar {
  width: calc(100vw - var(--navbar-width));
}

/* Styling for url bar. */

#urlbar-container {
  margin: 0 3px !important;
}

#urlbar-background {
  background-color: transparent !important;
  border: none !important;
  outline: none !important;
}

/* Styling for tabs. */

.tabbrowser-tab {
  padding: 0 !important;
}

.tab-background {
  outline: none !important;
  margin: 0 !important;
}

/* Hide everything that is not often used. */

.tab-close-button,
#alltabs-button,
.titlebar-spacer,
.titlebar-buttonbox-container,
#back-button,
#forward-button,
#stop-reload-button,
#page-action-buttons,
#urlbar-go-button,
#unified-extensions-button,
#PanelUI-menu-button {
  display: none;
}
