/* Merge the titlebar and navbar into one line. */

#navigator-toolbox {
  flex-direction: row-reverse;
}

#toolbar-menubar {
  /* Make the tabs take the entire bar. */
  display: none;
}

#nav-bar {
  background-color: transparent !important;
}

/* Make the bar shorter */

#TabsToolbar {
  /* WARNING: This is very hacky! */
  height: 41px;
  translate: 0 2px;
}

/* Styling for tabs. */

.tabbrowser-tab {
  padding: 0 !important;
}

.tab-background {
  outline: none !important;
  margin: 0 !important;
}

/* Remove tab close button. */

.tab-close-button {
  display: none;
}

.tabbrowser-tab:hover .tab-close-button {
  display: inline-flex !important;
}

/* Styling for toolbar buttons. */

#unified-extensions-button,
#PanelUI-button {
  order: -1 !important;
}

#unified-extensions-button,
#PanelUI-menu-button {
  padding: 0 !important;
}

#PanelUI-button {
  margin-left: var(--urlbar-margin-inline);
}

/* Hide everything else that is not often used. */

#alltabs-button,
.titlebar-spacer,
.titlebar-buttonbox-container,
#back-button,
#forward-button,
#stop-reload-button,
#page-action-buttons,
#urlbar-go-button {
  display: none;
}