:root {
  --navbar-height: 36px;
  --navbar-width: 432px;
}

/* Merge the titlebar and navbar into one line. */

#navigator-toolbox {
  flex-direction: row-reverse;
}

#titlebar,
#nav-bar {
  background-color: transparent !important;
  height: var(--navbar-height);
}

#nav-bar {
  width: var(--navbar-width);
}

#titlebar {
  width: calc(100vw - var(--navbar-width));
}

/* Styling for url bar. */

#urlbar-background {
  background-color: transparent !important;
  border: none !important;
  outline: none !important;
}

/* Styling for tabs. */

.tabbrowser-tab {
  padding: 0 !important;
}

.tab-background {
  border-top-left-radius: 1rem !important;
  border-top-right-radius: 1rem !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  outline: none !important;
  margin: 0 !important;
}

/* Styling for tab close button. */

.tab-close-button {
  border-radius: 1rem !important;
  display: none;
}

.tabbrowser-tab:hover .tab-close-button {
  display: inline-flex !important;
}

/* Styling for toolbar buttons. */

#unified-extensions-button,
#PanelUI-button {
  order: -1 !important;
}

#PanelUI-menu-button {
  padding: 2px !important;
}

/* Hide everything that is not often used. */

#alltabs-button,
.titlebar-spacer,
.titlebar-buttonbox-container,
#back-button,
#forward-button,
#stop-reload-button,
#page-action-buttons,
#urlbar-go-button {
  display: none;
}
