startup_commands                toggle_custom_color

font_size                       13
custom_background_color         #1e1e2e
custom_text_color               #cdd6f4
link_highlight_color            #f5e0dc
search_highlight_color          #89b4fa
text_highlight_color            #585b70
status_bar_color                #11111b
status_bar_text_color           #cdd6f4
ui_selected_background_color    #585b70
ui_selected_text_color          #cddbf4

prerender_page_count    2000
rerender_overview       1
super_fast_search       1

check_for_updates_on_startup    1
should_launch_new_window        1
show_document_name_in_statusbar 1
