startup_commands                toggle_custom_color

font_size   13
ui_font     Inter

text_highlight_color            #585b70
visual_mark_color               #585b7033
search_highlight_color          #f38ba8
link_highlight_color            #89b4fa
synctex_highlight_color         #f38ba8
custom_background_color         #1e1e2e
custom_text_color               #cdd6f4
status_bar_color                #11111b
status_bar_text_color           #cdd6f4
ui_selected_background_color    #585b70
ui_selected_text_color          #cddbf4

# Discord color scheme
# custom_background_color         #313338
# custom_text_color               #dbdee1

should_launch_new_window            1
rerender_overview                   1
check_for_updates_on_startup        1
single_click_selects_words          1
prerender_next_page_presentation    1
super_fast_search                   1
prerender_page_count                2000
case_sensitive_search               0
show_document_name_in_statusbar     1
