/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

@define-color base      #1e1e2e;
@define-color mantle    #181825;
@define-color crust     #11111b;

@define-color text      #cdd6f4;
@define-color subtext0  #a6adc8;
@define-color subtext1  #bac2de;

@define-color surface0  #313244;
@define-color surface1  #45475a;
@define-color surface2  #585b70;

@define-color overlay0  #6c7086;
@define-color overlay1  #7f849c;
@define-color overlay2  #9399b2;

@define-color blue      #89b4fa;
@define-color lavender  #b4befe;
@define-color sapphire  #74c7ec;
@define-color sky       #89dceb;
@define-color teal      #94e2d5;
@define-color green     #a6e3a1;
@define-color yellow    #f9e2af;
@define-color peach     #fab387;
@define-color maroon    #eba0ac;
@define-color red       #f38ba8;
@define-color mauve     #cba6f7;
@define-color pink      #f5c2e7;
@define-color flamingo  #f2cdcd;
@define-color rosewater #f5e0dc;

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
    70% {
        color: @text;
    }

    to {
        color: @text;
        background-color: @peach;
    }
}

@keyframes blink-critical {
    70% {
      color: @text;
    }

    to {
        color: @text;
        background-color: @maroon;
    }
}

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Global settings */
* {
    background-color: @base;
    border: none;
    border-radius: 0;
    color: @text;
    font-family: 'FiraCode Nerd Font';
    font-size: 12px;
    min-height: 0;
    padding: 0;
}

/* The whole bar */
#waybar {
    background: transparent;
    border-radius: 10px;
}

/* Every module */
#clock,
#mode,
#network,
#cpu,
#memory,
#pulseaudio,
#tray,
#custom-power {
    padding: 0.382rem 0.618rem;
}

/* Every tooltip */

tooltip,
tooltip * {
    background-color: @surface1;
    border-radius: 10px;
    padding: 2px;
}

/* -----------------------------------------------------------------------------
 * Modules styles
 * -------------------------------------------------------------------------- */

#custom-weather {
    margin-left: 0.236rem;
    margin-right: 0.382rem;
}

#workspaces button {
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    border-bottom: 3px solid @blue;
}

#workspaces button.urgent {
    border-color: @yellow;
    color: @yellow;
}

#mode {
    background: transparent;
    color: @text;
    font-style: italic;
}

#network.disconnected {
    color: @peach;
}

#cpu.warning {
    color: @peach;
}

#cpu.critical {
    color: @maroon;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
    color: @peach;
}

#memory.critical {
    color: @maroon;
    animation-name: blink-critical;
    animation-duration: 2s;
}

#pulseaudio.muted {
    color: @overlay1;
}

#workspaces {
    font-size: 13px;
}

#custom-power {
    font-size: 15px;
    margin-right: 5px;
}
