/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

@define-color base      #1e1e2e;
@define-color mantle    #181825;
@define-color crust     #11111b;

@define-color text      #cdd6f4;
@define-color subtext0  #a6adc8;
@define-color subtext1  #bac2de;

@define-color surface0  #313244;
@define-color surface1  #45475a;
@define-color surface2  #585b70;

@define-color overlay0  #6c7086;
@define-color overlay1  #7f849c;
@define-color overlay2  #9399b2;

@define-color blue      #89b4fa;
@define-color lavender  #b4befe;
@define-color sapphire  #74c7ec;
@define-color sky       #89dceb;
@define-color teal      #94e2d5;
@define-color green     #a6e3a1;
@define-color yellow    #f9e2af;
@define-color peach     #fab387;
@define-color maroon    #eba0ac;
@define-color red       #f38ba8;
@define-color mauve     #cba6f7;
@define-color pink      #f5c2e7;
@define-color flamingo  #f2cdcd;
@define-color rosewater #f5e0dc;

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Global settings */
* {
  color: @text;
  font-family: 'CaskaydiaCove Nerd Font';
  padding: 0;
}

window#waybar {
  background-color: transparent;
}

/* Every module */
#workspaces button,
#mode,
#clock,
#custom-weather,
#network,
#cpu,
#memory,
#temperature,
#pulseaudio,
#tray {
  background-color: @base;
  border-radius: 1rem;
  margin: 0 0.3rem;
  padding: 0.4rem 0.8rem;
}

/* Every tooltip and system tray menu */
tooltip label,
#tray menu {
  background-color: @surface0;
  border-radius: 0.5rem;
  padding: 0.2rem 0.4rem;
}

/* -----------------------------------------------------------------------------
 * Modules styles
 * -------------------------------------------------------------------------- */

#workspaces button {
  margin: 0 0.2rem;
  padding: 0;
  padding-right: 0.16em;
}

#workspaces button#sway-workspace-2 {
  font-size: 16px;
}

#workspaces button#sway-workspace-5 {
  font-size: 15px;
}

#workspaces button.focused {
  background-color: @crust;
}

#workspaces button.urgent {
  border-color: @yellow;
  color: @yellow;
}

#network.disconnected,
#pulseaudio.muted {
  color: @overlay1;
}

#cpu.warning,
#memory.warning {
  color: @peach;
}

#cpu.critical,
#memory.critical,
#temperature.critical {
  color: @maroon;
}
